.container {

  display: grid;
  grid-template-columns: 1fr 3fr;
	height: 100vh;
.header{
height: 60px;
}


.sidebar {
	
	background-color: aqua;
  &__header {
		background-color: pink;
  }
  &__list {
		background-color: orange;
  }
}

.main{
	background-color: red;

	&__header{
		background-color: papayawhip;
	}
}

}